$primary-color: #00bcd4;
$accent-color: #ff4081;
$text-color: #212121;
$hover-color: #f5f5f5;

$font-weights: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'black': 900
);

$mobile: 768px;