@import 'resources';

.navbar {
  background: $light;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
  border-bottom: 0.5px solid $dark;

  &__logo {
    color: $dark;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-stack;
    font-size: 2rem;
    margin-left: 24px;
    @extend %align-center;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $orangeRed;
    }
  }

  &__bars {
    opacity: 0;
    cursor: pointer;

    @include mid {
      color: $dark;
      opacity: 1;
      position: absolute;
      top: 22px;
      right: 20px;
      font-size: 2rem;
    }
  }

  &__menu {
    @extend %align-center;
    list-style: none;
    text-align: center;
    margin-right: 24px;

    @include mid {
      display: none;
    }

    &--links {
      color: $dark;
      @extend %align-center;
      text-decoration: none;
      padding: 0 1rem;
      font-family: $font-stack;
      font-weight: 800;
      letter-spacing: 0.1rem;

      &:hover {
        color: $orangeRed;
        transition: 0.3s ease-in-out;
      }
    }

    #button {
      padding: 12px 24px;
      border: none;
      outline: none;
      border-radius: 4px;
      background: $orangeRed;
      margin-left: 16px;
      color: $light;

      &:hover {
        background: $lime;
        color: $dark;
        transition: all 0.3s ease-in-out;
      }
    }

    img {
      visibility: hidden;
    }
  }

  &__open {
    background-color: $lime;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: fit-content;
    height: 30vh;
    position: relative;
    margin: 0;
    padding: 20px 10px;
    justify-content: space-between;
    border-radius: 5px;
    z-index: 999;
    transition: all .2s ease-in;

    &--xmark {
      transform: rotate(270deg);
      visibility: visible;
      font-size: 2rem;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
}
